%h2 Volunteer Guidelines
%p
  Thank you for your dedication to San Francisco! Your well-being and enjoyment are important to us. All volunteers are
  expected to conduct themselves in a safe, courteous and legal manner while participating in activities on City
  property or right-of-way. Please follow these guidelines:

%h3 General Safety
%ol
  %li
    Wear appropriate footwear, clothing, sunscreen and eye protection (when necessary).
  %li
    Keep hydrated.
  %li
    Call 911 for emergencies.

%h3 Traffic Safety
%ol
  %li
    When possible, stay out of the street.
  %li
    When working in or around a gutter, work from the sidewalk.
  %li
    If working near traffic, wear a bright reflective work vest or bright-colored clothing. x
  %li
    Cross streets at signals or crosswalks, not mid-block.

%h3 Working Near Waterways
%ol
  %li
    Always work with a partner near water.
  %li
    Watch for poison oak and blackberry thorns.
  %li
    Watch your footing on slopes and shorelines.
  %li
    Never allow children to work on steep slopes or near shorelines without adult supervision.

%h3 Tool Safety
%ol
  %li
    Do not use power tools.
  %li
    Carry tools carefully to avoid hitting others.
  %li
    Always use the right tools for the job. Ask a team leader or City staff if you are unsure.
  %li
    Never allow children to play with tools or to use sharp tools.
  %li
    Always keep your tools close to you.
  %li
    Count and clean your tools after an activity/cleanup.
  %li
    Return borrowed tools and supplies, as agreed.

%h3 Debris Removal
%ol
  %li
    Always sweep, rake or shovel glass. Never pick up sharp objects with your hands.
  %li
    Separate collected materials into recycling (blue), compost (green), and landfill (black) garbage bins.
  %li
    To the extent practicable, place recyclables and smaller garbage bags into home refuse containers.
  %li
    Contact San Francisco 311 by calling 3-1-1 for pickup of City-issued debris bags. Tell them the quantity of
    bags, type of debris and the nearest address.
  %li
    Never touch hazardous or medical waste (including automotive fluids and hypodermic needles). Report items to
    the 311 Call Center or to a City employee, if present.

%h3 General Conduct
%ol
  %li
    Always be courteous to fellow volunteers and City employees.
  %li
    Never use vulgar language or engage in threatening or disruptive actions.
  %li
    Never make unauthorized changes to City property or right-of-way, including landscaping.
  %li
    Keep foreign mulch and soils off City property and right-of-way.

%p
  Note: The City reserves the right to immediately withdraw support for any volunteer if, at the sole discretion of the
  City, the volunteer’s conduct while participating in volunteer activities on City property or right-of-way is
  determined to be inconsistent with these Volunteer Guidelines or violates any local, state or federal law. Withdrawal
  of support may include repossession of loaned tools and revocation of related agreements.
