%p
  I am voluntarily participating in the City of San Francisco’s Adopt-a-Drain program. I have read and agree to follow
  the Volunteer Guidelines, below and as you click on “What Does it Mean To Adopt a Drain?” on
  https://adoptadrain.sfwater.org/.  I acknowledge my participation in these events does not come without the risk of
  injury or harm; I accept this risk and assume responsibility for all liability and risk associated with my
  participation.

%p
  I agree to hold harmless, release, waive and forever discharge the City of San Francisco, its employees, departments,
  officers and agents, from any and all claims or demands I may have by reason of any accident, illness, injury, loss,
  destruction or damage to property, arising or resulting directly or indirectly from my participation in this activity.
  I further covenant not to bring any legal action against the City of San Francisco, its employees, departments,
  officers and agents, for any injury, loss or damage resulting from my participation in this activity.

%p
  This Waiver and Release is contractual and not a mere recital and applies whether or not injury or loss resulting from
  this activity is caused by an act or omission of the City, its employees, departments, officers or agents, negligent
  or otherwise.

%p
  This Waiver and Release is binding on my heirs, executors, administrators, assigns, and all of my family members, and
  applies to all losses, whether known or unknown, suspected or unsuspected, related to my participation in this
  activity.

%p
  I hereby grant permission to the City of San Francisco to use photographs of me taken during volunteer events on its
  website and in other publications, at the City’s sole discretion and without further consideration.

%p
  Last updated March 2nd, 2019.

= render :partial => "sidebar/guidelines"
