<p>
Hello, this is an automated system-wide usage report for Adopt a Drain Mystic River.
</p>

<p>
In total, <%= @user_count %> residents have signed up on your site and have adopted <%= @adoption_count %> drains. 
</p>
