.modal.fade{id: id}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button{:class => "close", :"data-dismiss" => "modal", :href => "#", :type => "button", :"aria-label" => "Close"}
          %span{:"aria-hidden" =>"true"}
            &times;
        %h2
          = title
      .modal-body
        = content_for?(:content) ? yield(:content) : yield
%button.btn.btn-default{:type => "button", :"data-dismiss" => "modal"}
  Close
